*{
    margin: 0;
    padding: 3;
}

.cart{
    display: inline-block;
    border: 0.5px solid gray;
    border-radius: 3px;
    width: 280px;
    text-align: center;
    padding-top: 15px;
    margin: 7px 5px 7px 5px;
}

.cart img{
    width:100px;
    height: 100px;
    border-radius: 50%;
 
}

.cart button{
    margin-bottom: 3px;
    text-align: center;
    color: white;
    background-color: rgb(71, 71, 179);
    border: none;
    border-radius: 2px;
    padding: 7px;
}